body{
    margin: 0px;
    background-color: black;
    
 }

#app{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
  }



  .home-one{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    justify-content: center;
    align-items: center;
    background-color: rgb(19, 19, 19);
    margin: 0rem;



  }
  
  .home-two{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: rgb(19, 19, 19);
    border-bottom: 1px solid rgb(175, 96, 0);
    padding-bottom: 5rem;
  
   
  
  }
  .home-tree{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(19, 19, 19);

  
  
  }
  
  
  
  
  #metu-div-style{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-top: 4px solid rgb(179, 179, 179);
    border-bottom: 4px solid rgb(179, 179, 179);
    margin-bottom: 3rem !important;
  
  }
  
  /* ana hattı sonu */
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  .tree-part-home{
  
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    margin-bottom: 5rem;
    color: rgb(255, 255, 255);
  }
  
  .tree-part-home h4 {
    margin-top: 6rem;
    font-size: 2.7rem;
    color: white; 
    margin-bottom: 3rem; 
    text-transform: capitalize;
  }
  
  .tree-part-home p {
    text-transform: capitalize;
    margin: 1.2rem;
    font-size: 1rem;
  
  }
  .open-day{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 0.8rem;
    height: 100%;
  }
  
  .open-day-group{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    color: rgb(196, 196, 196);
    font-size: 1rem;
  }
  
  
  ul{
    list-style-type:none;
    display: flex;
    flex-direction: column;
    font-weight: 900;
    letter-spacing: 1px;
    justify-content: flex-start;
  
  }
   hr{
    display: flex;
     width: 2%;
     margin-bottom: 1rem;
  }
  
  /* gövde bölümünün tasarlanması  */
  
  
  /* home-two-group */
  
  .home-two-group{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 1rem;
    justify-content: center;
    align-items: center;
  }
  
  
  
  
  /* show 1  */
  
  #menu{
    display: flex;
    flex-direction: column;
    
  }
  #menu h2{
    display: flex;
    font-size:1.8rem;
    width: 70%;
    height: auto;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-weight: 900;
    color: black;
    background-color: aliceblue;
    border-radius: 1rem;
    margin-bottom: 5rem;
  }
  #menu div{
    display: flex;
    width: 70%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    background-color: rgb(19, 19, 19);
    color: rgb(255, 255, 255);
    display: flex;
    border-radius: 1rem;
    flex-direction: column;
  }
  
  
  #menu p{
    display: flex;
    font-size: 1.2rem;
    text-transform: capitalize;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    color: black;
    border-radius: 10rem;
    font-weight: 900;

  }
  
  
  
  /* adress iletişim  */
  #adres-location{
    width:100%;
    height: 60%;
    border-radius: 1rem;
  }
  
  
  
  .iletisim-adress-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  
  .iletisim-head{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 01rem;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid rgb(175, 96, 0);

  
  
  }
  
  .iletisim-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1.5rem;
    color: aliceblue;
    justify-content: center;
    align-items: center;
  
  
  
  }
  
  .iletisim-end{
    display: flex;
    flex-direction: column;
    width: 90%;
    font-size: 1rem;
    color: aliceblue;
    justify-content: center;
    align-items: center;
  
  
  
  }
  
  .iletisim-adress-part h3{
    font-size: 2rem;
  }
  
  
  
  #menu-img-part{
  display: flex;
  width:50%;
  height: auto;
  border: 1px solid gray;
  border-radius: 2rem;
  margin: 1px;
  }



  #efes-pide-logo{
    display: flex;
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 50rem;
  }

  #logo-welcome{
    display: flex;
    width: 10%;
    height: 100%;
    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;

  }



  .img-welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    background-color: rgb(158, 158, 158);
    border-radius: 50rem;
    font-style: italic;    
    margin-top: 2rem;      
  }

  .img-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 1rem;

  }


  #menü-buy{
    display: flex;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    background-color: rgba(66, 66, 66, 0.13);
    width: 45%;
    height: 2rem;
    border-radius: 12px;
    margin-bottom: 6rem;  
    font-weight: 900;

  }
